<app-seo></app-seo>
<div class="px-2 py-2 my-2 text-center">
  <img class="d-block mx-auto mb-4 img-fluid" style="max-height: 256px;" src="assets/logo.png" alt="hero">
  <h1 class="display-5 fw-bold">Angular + Bootstrap Showcase</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Routing, template forms and reactive forms made with Angular and Bootstrap5</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" (click)="goTemplate()">
        Template Driven
      </a>
      <a class="btn btn-outline-secondary btn-lg px-4" (click)="goData()">
        Reactive Form
      </a>
    </div>
  </div>
</div>
